<div class="container d-flex justify-content-center">
  <div class="col-7">
    <div class="category mt-3">
      <select class="form-control" id="exampleFormControlSelect1">
        <option value="類別" selected>總支出</option>
        <option value="交通費">交通費</option>
        <option value="電信費">電信費</option>
        <option value="飲食費">飲食費</option>
        <option value="水電費">水電費</option>
      </select>
    </div>

    <div class="my-4">
      <span>總金額</span>
      <input type="text" style="color: #FF8000; width: 300px; border: none; padding-left: 20px; font-size: 40px;"
        name="number" value="25555" disabled>
    </div>

    <div class="my-3">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" style="height: 100px;">
          <div class="col-2" style="text-align: center; line-height: 100px">
            <i class="fas fa-utensils fa-2x"></i>
          </div>

          <div class="col-4">
            <h6>早餐</h6>
            <h6>2010/4/4</h6>
          </div>

          <div class="col-2" style="text-align: center; line-height: 100px">
            <span>50</span>
          </div>

          <div class="col-4" style="text-align: center; line-height: 100px">
            <form action="" method=" POST">
              <button class="btn btn-outline-success">Edit</button>
              <button class="btn btn-outline-danger">Delete</button>
            </form>
          </div>
        </li>

        <li class="list-group-item d-flex align-items-center" style="height: 100px;">
          <div class="col-2" style="text-align: center; line-height: 100px">
            <i class="fas fa-utensils fa-2x"></i>
          </div>
          <div class="col-4">
            <h6>早餐</h6>
            <h6>2010/4/4</h6>
          </div>
          <div class="col-2" style="text-align: center; line-height: 100px">
            <span>50</span>
          </div>
          <div class="col-4" style="text-align: center; line-height: 100px">
            <form action="" method=" POST">
              <button class="btn btn-outline-success">Edit</button>
              <button class="btn btn-outline-danger">Delete</button>
            </form>
          </div>
        </li>


      </ul>


    </div>
  </div>
</div>